/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--page-background-image-url, url(../images/cover-image-dark.png));
  background-color: var(--body-bg-color,#000028);
  background-position: center;
  background-attachment: fixed;
  font-family: var(--main-font-family, Helvetica, Arial, sans-serif);
  color: var(--main-color, #f1b2ce);
  font-size: var(--main-font-size, 18px);
  line-height: var(--main-line-height, 1.463rem);
  padding: var(--page-padding, 10px);
}

.screen_size {
  min-width: calc(100% - 2 * var(--page-padding, 10px));
  min-height: calc(100vh - 2 * var(--page-padding, 10px));
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(
    3,
    calc((100vh - 2 * var(--page-padding, 10px)) / 3)
  );
  justify-items: end;
  align-items: center;
  min-width: 100%;
  min-height: calc(100vh - 2 * var(--page-padding, 10px));
}

.header__title {
  position: relative;
  inset-inline-start: o;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  inset-block-start: 0;
  inset-inline-end: 0;
}

.decorated-zone::after {
  inset-block-end: 0;
  inset-inline-start: 0;
}

.header__theme-menu {
  align-self: start;
  margin-block-start: 62px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  outline: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--accent-color, #ff0070);
  padding-inline: 5px;
}

.header__theme-menu-button span {
  padding-inline: 8px;
}

.header__decoration {
  position: absolute;
  inset-block-start: var(--page-padding, 10px);
  inset-inline-end: var(--header-decor-inset-inline-end, 38px);
}

.title {
  justify-self: start;
  text-shadow: 4px 4px 0 var(--header-title-shadow-color, #ff0070);
  color: var(--header-title-color, #db00ff);
  font-size: var(--header-title-font-size, clamp(7.25rem, 7.25rem + 0vw, 7.25rem));
  line-height: var(--header-title-line-height, 82.5%);
  font-weight: var(--bold-font-weight, 700);
}

.header__subtitle {
  align-self: start;
  margin-block-start: calc(0.4 * var(--header-title-font-size, clamp(7.25rem, 7.25rem + 0vw, 7.25rem)));
  max-width: 50%;
}

.paragraph-title-margin-block {
  margin-block: 20px 10px;
}

.main__section {
  margin-block-end: 50px;
}

.main__section-content {
  padding-block-start: 0;
}

.main__section_type-title-column {
  display: grid;
  grid-template-columns: 1fr;
}

.main__section_gallery {
  display: flex;
  flex-direction: column;
  gap: var(--main-section-gallery-gap, 10px);
  margin-block-start: 28px;
}

.main__section_gallery .paragraph-title {
  margin: 20px 0 0;
}

.main__section_gallery .paragraph-title-margin-block {
  margin-block: 20px 0;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--inversed-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--main-font-size);
}

.main__section-title {
  font-size: var(--main-font-size);
  padding-block-start: 50px;
}

.main__section_title_type-advice {
  font-weight: var(--main-font-weight);
}

.main__section_link {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  text-decoration: none;
}

.main__section_link:hover {
  border-bottom: 1px solid var(--main-color, #f1b2ce);
}

.main__section_link:focus-visible {
  text-decoration: none;
  border: 1px solid var(--main-color, #f1b2ce);
}

.main__section_gallery-container {
  display: grid;
  container-type: inline-size;
}

.main__section_gallery-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .title {
  text-shadow: 2px 2px 0 var(--header-title-shadow-color, #ff0070);
}

.main__section_type-newspaper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'title . . '
    'content content content';
}

.main__section_type-newspaper-title {
  grid-area: title;
  width: min-content;
}

.main__section_type-newspaper-content {
  grid-area: content;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: rows;
}

.main__section_gallery_content {
  display: grid;
  container-type: inline-size;
  gap: var(--main-section-gallery-gap, 10px);
  max-width: 100%;
}

@media (max-width: 767.5px) {
  
  .header__subtitle {
    max-width: 100%;
  }

  .main__section_type-newspaper {
    grid-template-columns: 1fr;
  }

  .main__section_type-newspaper-title {
    width: 100%;
  }
}

@media (min-width: 768px) {

  :root {
    --page-padding: 20px;
    --main-section-gallery-gap: 20px;
    --header-title-font-size: clamp(7.5rem, 7.5rem + 0vw, 7.5rem);
  }

  .header__title {
    inset-inline-start: calc(-1 * var(--page-padding, 20px));
  }

  .header__theme-menu {
    margin-block-start: 169px;
  }

  .main__section {
    margin-block-end: 80px;
  }

  .main__section-title {
    padding-block-start: 80px;
  }

  .main__section_type-title-column {
    grid-template-columns: 32% 65%;
    gap: 3%;
  }

  .main__section-content {
    padding-block-start: 60px;
  }

  .main__section_gallery .paragraph-title-margin-block {
    margin-block: 50px 0;
  }

  .main__section_gallery_content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: calc(100% * 0.25) calc(100% * 0.3) calc(100% * 0.415);
  }
}

@media (min-width: 1024px) {

  :root {
    --header-title-font-size: clamp(9.8125rem, 9.8125rem + 0vw, 9.8125rem);
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .main__section_type-title-column {
    grid-template-columns: 32% 66%;
    gap: 2%;
  }

  .main__section_type-newspaper-content {
    gap: var(--main-section-gallery-gap);
    grid-template-columns: repeat(3, 1fr);
  }

  .main__section_type-newspaper-title {
    width: 100%;
  }
}

@container (inline-size >= 728px) {

  .main__section_gallery-container:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .main__section_gallery-container:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .main__section_gallery-container:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .main__section_gallery-container:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .main__section_gallery-container:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}
