/*
  Переменные для вашего проекта и их переопределение под различные устройства
*/

:root {
  --mobile-width: 375px;
  --mobile-height: 668px;
  --tablet-width: 768px;
  --tablet-height: 1024px;
  --laptop-width: 1024px;
  --laptop-height: 768px;

  --page-background-image-url: url(../images/cover-image-dark.png); 
  --page-padding: 10px;

  --header-title-font-style: normal; 
  --header-title-font-size: clamp(7.25rem, 7.25rem + 0vw, 7.25rem);
  --header-title-line-height: 82.5%;
  --header-title-color: #db00ff;
  --header-title-padding-block-end: 55px;/* 375 x 668 - dark */
   
  --header-decor-inset-inline-end: 38px;

  --inversed-color: #000028; 
 
  --main-color: #f1b2ce;
  --main-color-alpha: rgba(241, 178, 206, 0.4);
  --main-font-family: 'IBM Plex Mono';
  --main-font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  --main-font-style: normal;
  --main-font-weight: 400;  
  --main-line-height: 1.463rem;

  --main-section-gallery-gap: 10px;

  --bold-font-weight: 700;
  --accent-color: #ff0070;
  --accent-color-alpha: rgba(255, 0, 112, 0.4);
}
